mixin selectSuper(title, optionText, placeholder, displayTitle)
    div.label(data-select)
        if (displayTitle != false)
            .panel_subtitle= title
        select.select
            option(selected)= optionText
        if (placeholder != false)
            .select_pseudo= optionText
        else
            .select_pseudo
        ul.select_list
            - for (var i=0; i < 5; i++)
                li.select_item.body_row(data-select-item)= optionText + i

mixin labelInput(id, title, placeholder, disabled)
    label.label(for='input_#{id}')
        span.panel_subtitle= title
        if (disabled == true)
            input.input.input__disabled(id='input_#{id}' type='text' placeholder=placeholder disabled='disabled')
        else
            input.input(id='input_#{id}' type='text' placeholder=placeholder)