include includes/vars
include includes/mixins

doctype html
html(lang='en')
    include includes/blocks/head
    body.footer(data-welcome)

        include includes/blocks/header

        block panel_top_configuration
            section.panel_top.panel_top__bottom_md
                .wrapper
                    h2.panel_title.panel_title__dark System configuration
                    .row.m-t
                        .col-2
                            div.label(data-select)
                                .panel_subtitle Configuration Set
                                select.select
                                    option(selected) Sandbox
                                .select_pseudo Sandbox
                                ul.select_list
                                    - for (var i=0; i < 5; i++)
                                        li.select_item.body_row(data-select-item) Sandbox#{i}
                        .col-2
                            div.label(data-select)
                                .panel_subtitle Application Area
                                select.select
                                    option(selected) Gateway
                                .select_pseudo Gateway
                                ul.select_list
                                    - for (var i=0; i < 5; i++)
                                        li.select_item.body_row(data-select-item) Gateway#{i}

        block configuration
            section.main_content

                section.slider_content
                    .head.head__light
                        .wrapper
                            each val in [['#','Title'],['Name','Title'],['Description','Comments'],['Value','Title'],['Value','Default'],['Enrypt','Status'],['Type','Data'],['User','Name'],['Modified','Date/Time']]
                                .slider_col
                                    .head_text.head_text__title= val[0]
                                    .head_text.head_text__subtitle= val[1]
                    .slider_body
                        form
                            - for (var i=0; i < 7; i++)
                                .body_row.body_row__slider_padding_sm
                                    .wrapper.flex
                                        .slider_col
                                            .table_text 6
                                        .slider_col
                                            .table_text.text-left.
                                                AppDomaim<br>
                                                Request<br>
                                                Reuse<br>
                                                Count
                                        .slider_col
                                            textarea.textarea
                                        .slider_col
                                            input.input.input__table(type='text')
                                            label.label.table_text.m-t-sm.text-left
                                                input.checkbox(type='checkbox')
                                                span.checkbox_img.checkbox_img__small
                                                span.checkbox_label Show
                                        .slider_col
                                            .table_text(data-text-overflow data-tooltip-string title='Perfectosoft\\AddInModel\\Processor#{i}') Perfectosoft\AddInModel\Processor#{i}
                                        .slider_col
                                            label.label
                                                input.checkbox(type='checkbox')
                                                span.checkbox_img
                                        .slider_col
                                            .table_text String
                                        .slider_col
                                            .table_text.text-upper SERVER
                                        .slider_col
                                            .table_text
                                                div 07/08/2015
                                                .text-nowrap.m-t-xs 05:40:43 AM
                            .body_row.body_row__slider
                                .m-t-sm.text-right
                                    button.button.button__middle.button__transparent cancel
                                    button.button.button__middle.button__grey.m-l-xs safe

        include includes/blocks/scripts