include includes/vars
include includes/mixins

doctype html
html(lang='en')
    include includes/blocks/head
    body.footer

        include includes/blocks/header

        block panel_top_configuration
            section.panel_top.panel_top__bottom_md
                .wrapper
                    .row
                        .col-2
                            div.label(data-select)
                                .panel_subtitle Transaction Types
                                select.select
                                    option(selected)
                                .select_pseudo All
                                ul.select_list
                                    - for (var i=0; i < 5; i++)
                                        li.select_item.body_row(data-select-item) All#{i}
                        .col-2
                            div.label(data-select)
                                .panel_subtitle Transaction Statuses
                                select.select
                                    option(selected)
                                .select_pseudo All
                                ul.select_list
                                    - for (var i=0; i < 5; i++)
                                        li.select_item.body_row(data-select-item) All#{i}
                        .col-2
                            div.label(data-select)
                                .panel_subtitle Processors
                                select.select
                                    option(selected)
                                .select_pseudo All
                                ul.select_list
                                    - for (var i=0; i < 5; i++)
                                        li.select_item.body_row(data-select-item) All#{i}
                        .col-2
                            label.label(for='input_1')
                                .panel_subtitle Processors Transaction ID
                                input.input(id='input_1' type='text')
                    .row.m-t-xs
                        .col-1
                            label.label(for='input_2')
                                .panel_subtitle Date From
                                input.input(id='input_2' type='text' placeholder='From')
                        .col-1
                            label.label(for='input_3')
                                .panel_subtitle Date To
                                input.input(id='input_3' type='text' placeholder='To')
                        .col-2
                            label.label(for='input_4')
                                .panel_subtitle From Amount
                                input.input(id='input_4' type='text' placeholder='From')
                        .col-2
                            label.label(for='input_5')
                                .panel_subtitle To Amount
                                input.input(id='input_5' type='text' placeholder='To')
                        .col-2
                            label.label(for='input_6')
                                .panel_subtitle Order ID
                                input.input(id='input_6' type='text' placeholder='')
                    .row.m-t-md
                        .col-1
                            div.label(data-select)
                                .panel_subtitle Page Size
                                select.select
                                    option(selected)
                                .select_pseudo 25
                                ul.select_list
                                    - for (var i=0; i < 5; i++)
                                        li.select_item.body_row(data-select-item) #{i+25}
                        .col-1
                            label.label(for='input_7')
                                .panel_subtitle Page
                                .input_pagination_b
                                    button.input_pagination.input_pagination__prev
                                    input.input.input__paginat(id='input_7' type='text' placeholder='12')
                                    button.input_pagination.input_pagination__next
                        .button_right_b.m-t-sm
                            button.button.button__big.button__grey Search
                            button.button.button__big.button__grey.m-l-xs clear
                            button.button.button__big.button__grey.m-l-xs collapse all records
                            button.button.button__big.button__grey.m-l-xs expand all records

        block transactions
            section.main_content.main_content__mid

                section.slider_content.slider_content__transactions
                    .head.head__light
                        .wrapper
                            each val in [['Id','Order'],['code','Authorization'],['Authorization','Transaction ID'],['Processor','Title'],['Type','Title'],['Status','Title'],['Amount','Сurrency ($)'],['Date','Date/Time']]
                                .slider_col
                                    .head_text.head_text__title= val[0]
                                    .head_text.head_text__subtitle= val[1]
                    .slider_body
                        form
                            - for (var i=0; i < 9; i++)
                                .body_row.body_row__padding_sm.body_row__error
                                    .wrapper.flex
                                        .slider_col
                                            a.table_text.tooltip_link(data-tooltip-block title='' data-popup-small) 182345123452345678
                                        .slider_col
                                            .table_text.text-upper X6TYWJ
                                        .slider_col
                                            .table_text 2235575474
                                        .slider_col
                                            a.table_text(data-popup-big) Authorize.net
                                        .slider_col
                                            .table_text Authorization
                                        .slider_col
                                            .table_text Approved
                                        .slider_col
                                            .table_text 25.00
                                        .slider_col
                                            .table_text
                                                div 07/08/2015
                                                .text-nowrap.m-t-xs 05:40:43 AM

    include includes/blocks/scripts